$iconFornFamily: "Material Icons";
$poppins: "Poppins", sans-serif;
$primaryColor: #f9804c;
$primaryHover: #fa966b;
$whiteColor: #ffffff;
$bodyColor: #7a7a7a;
$blackColor: #1b1b1b;
$grayColor: #545454;
$grayColor1: #e3e3e3;
$grayColor2: #717171;
$grayColor3: #aaaaaa;
$chipBg: #f5f5f5;
$ultraOrange: #feede5;
$red: #f25268;
$orange1: #fc636b;
$redMain: #de3730;
$feedbackIcon: #4080ff;
$green: #37aa55;

