.h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 16px;
}

.h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
}
.h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}
.title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 1.4;
}

.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}
.chipTxt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}
.chipTxt1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
}
.subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
}

.label-lg {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
}
.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}
.label-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}
