// font family
$iconFornFamily: "Material Icons";
$inter: "Inter", sans-serif;
// color
$primaryColor: #f9804c;
$bodyColor: #f5f5f5;
$placeholder: #7a7a7a;
$whiteColor: #ffffff;
$blackColor: #000000;
$inputBg: #2b2b2b;
$bodyBg: #2b2b2b;
$label1: #b6b6b6;
$inputBorder: #3a3a3a;
$inputBorder1: #7a7a7a;
$inputBg1: #383838;
$placeholder1: #545454;
$radioBg: #f9804c;
$customDropFocus: #f9804c;
$customDropFocusBorder: #f9804c;
$cancelBtn: #403f3f;
$grayBtnBorder: #403f3f;
$dropdownShadow: #1a1a1a;
$icon: #7a7a7a;
$mainContentBg: #1e1e20;
$tableOuter: #2b2b2b;
$tableBorder: #3a3a3a;
$tableBorderHover: #383838;
$greenbg: #183923;
$inputBg2: #7a7a7a;
$progressbg: #4d4d4d;
$offToggleBg: #efd6d2;
$onToggleBg: #bfe4cc;
$offToggle: #d3433a;
$onToggle: #2eb85c;

$white-16: rgba(255, 255, 255, 0.16);
$white-80: rgba(255, 255, 255, 0.8);
$black-50: rgba(0, 0, 0, 0.5);

$modalHeadBg: #403f3f;
$modalHeadBorder: #403f3f;

$dotBtn: #b6b6b6;
$subtitleColor: #b6b6b6;

$paginationBg: #2b2b2b;
$paginationBgActive: #3d2c26;

$chipBg: #4f3c22;
$chipBorder: #e49621;
$delete: #ff5449;
$red: #de3730;
$green: #2eb85c;
$orange: #f48a42;
$cold: #44c5ff;

$green1: #1d9c7f;
$red1: #e05c54;
$orange1: #e09237;
$blue1: #2b69e3;

$orange2: #e7783a;
$red2: #e74e3a;
$green2: #7cb342;

$orange3: #edb45d;
$orange4: #e9a135;
$orange5: #ec9361;

$green3: #33bda5;
$green4: #00ad8e;
$green5: #91ca57;
$green6: #75bd2d;

$blue3: #4d9de5;
$blue4: #2184df;
$blue5: #dbebfa;
$blue6: #45b9ed;
$blue7: #17a7e8;

$purple: #a073f3;
$purple1: #8850f0;

$warm: #f59757;

$mint: #17c0b7;

$avatarHover: #383838;

$btnShadow: rgba(249, 128, 76, 0.4);

$border1: #e3e3e3;

// sidebar
$sidebarBg: #2b2b2b;
$avatarBg: #b6b6b6;
$subHead: #999999;
$boxshodow1: rgba(26, 26, 26, 0.48);

// modal
$modalBg: #2b2b2b;
$modalborder: #3a3a3a;
$modalshadow: #000000;
$headerbg: #403f3f;
$headerborder: #545454;
$modaltitle: #f5f5f5;
$radioborder: #b6b6b6;
$applybg: #f9804c;
$modaltext: #b6b6b6;
$tabsborder: #f9804c;
$infobg: #383838;


// Btn States

$grayBtn: #545454;
$graybtnDisable:#2B2B2B;
$downloadBtn:#403F3F;
$btnBoxShadow:0px 4px 12px rgba(249, 128, 76, 0.4);
$selectDropdownBtnFocusBg: 1px solid #F9804C !important;
$selectDropdownBtnFocusBgcolor: #F9804C !important;
$selectDropdownBtnFocushoverBg: #3D2C26 !important;
$btnHoverBG:#F46D33;
