@import "./../../../assets/scss/var.scss";
@import "./../../../assets/scss/mixin.scss";
@import "./../../../assets/scss/reset.scss";
.headerWrapper {
    height: 4.5rem;
    padding: 1rem 0;
    background: $blackColor;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    &.mouseHover {
        background: #383838;
    }
    @include mediaQuery(xlg) {
        height: 5rem;
        padding: 0.625rem 0;
    }
    .headerInnerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        position: relative;
        z-index: 1;
        .logoImg {
            max-height: 40px;
            @include mediaQuery(xlg) {
                max-height: 60px;
            }
        }
        .headerWhiteLogo {
            display: none;
        }
    }
    .navWrapper {
        width: 100%;
        height: 100vh;
        position: fixed;
        background: #383838;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0;
        visibility: hidden;
        left: -99999;
        @include mediaQuery(md) {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            background: transparent;
            opacity: 1;
            visibility: visible;
        }

        .navListWrapper {
            margin-top: 100px;
            @include mediaQuery(md) {
                margin-top: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin-left: -220px;
            }
            @include mediaQuery(lg) {
                margin-left: inherit;
            }
            .navList {
                line-height: 40px;
                display: block;

                @include mediaQuery(md) {
                    height: 100%;
                    display: flex;
                }
                &:hover {
                    @extend .transition;
                    .navLink {
                        color: #f9804c;
                    }
                }
                .navLink {
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    display: block;
                    align-items: center;
                    padding: 0 16px;
                    @extend .transition;
                    @include mediaQuery(md) {
                        display: flex;
                    }
                }

                .navDropdown {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    position: fixed;
                    top: 72px;
                    border-top: 1px solid #717171;
                    background: #383838;
                    left: -999999px;
                    right: 0;
                    @include mediaQuery(xlg) {
                        top: 80px;
                    }
                    .headerContainer {
                        padding-right: 0;
                        opacity: 0;
                    }

                    .navDropdownInner {
                        display: grid;
                        grid-template-columns: 1fr 400px;
                        gap: 40px;
                        @include mediaQuery(xlg) {
                            grid-template-columns: 1fr 540px;
                        }
                        .featureMenuLeftWrapper {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 10px;
                            padding: 10px 0;
                            @include mediaQuery(xlg) {
                                padding: 40px 0;
                                gap: 20px;
                            }
                            .featureListMenu {
                                padding: 12px;
                                display: flex;
                                @extend .transition;
                                &:hover {
                                    background: #545454;
                                    border-radius: 8px;
                                    @extend .transition;
                                }
                                .featureListMenuImg {
                                    margin-right: 12px;
                                    min-width: 60px;
                                    min-height: 60px;
                                    max-width: 60px;
                                    max-height: 60px;
                                    background: #fef7e0;
                                    border-radius: 100%;
                                    overflow: hidden;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .featureListMenuContent {
                                    flex-grow: 1;
                                    h4 {
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: #ffffff;
                                    }
                                    p {
                                        font-weight: 400;
                                        font-size: 12px;
                                        color: #c6c6c6;
                                    }
                                }
                            }
                        }
                        .featureMenuCard {
                            background: #1b1b1b;
                            .featureMenuCardImg {
                                height: 240px;
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .featureMenuCardBody {
                                padding: 20px;
                                background: #1b1b1b;
                                h4 {
                                    font-weight: 600;
                                    font-size: 20px;
                                    margin-bottom: 4px;
                                    color: #ffffff;
                                    letter-spacing: -0.03em;
                                }
                                p {
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #ffffff;
                                }
                                .txtBtn {
                                    font-weight: 500;
                                    font-size: 14px;
                                    color: #f9804c;
                                    display: inline-flex;
                                    align-items: center;
                                    margin-top: 8px;
                                    span {
                                        margin-left: 4px;
                                        color: #f9804c;
                                    }
                                }
                            }
                        }
                    }
                }
                &.megaMenu {
                    display: none;
                    @include mediaQuery(md) {
                        display: flex;
                    }
                    &:hover {
                        .navDropdown {
                            opacity: 1;
                            visibility: visible;
                            left: 0;
                            right: 0;
                            .headerContainer {
                                opacity: 1;
                                transition: opacity 0.3s linear;
                                transition-delay: 0.2s;
                            }
                        }
                    }
                }
                &.mobileLink {
                    display: block;
                    @include mediaQuery(md) {
                        display: none;
                    }
                }
            }
        }
        &.show {
            display: block;
            opacity: 1;
            visibility: visible;
            left: inherit;
            @extend .transition;
        }
    }
    .otherLinks {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        z-index: 1;

        .headerPrimaryBtn {
            display: none;
            @include mediaQuery(sm) {
                display: flex;
            }
        }
    }
    .hamburgerBtn {
        width: 40px;
        height: 40px;
        color: $whiteColor;
        cursor: pointer;
        border-radius: 4px;
        @extend .transition;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        @include mediaQuery(md) {
            display: none;
        }
    }
}
.mobLink,
.loginLink {
    height: 44px;
    width: fit-content;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    border-radius: 8px;
    display: none;
    border: 1px solid transparent;
    @extend .transition;
    &:hover {
        @extend .transition;
        border: 1px solid #ffffff;
    }
    @include mediaQuery(sm) {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
.mobLink {
    padding: 12px 24px 12px 16px;
}

.badgeSoon {
    background: #feede5;
    border-radius: 8px;
    height: 24px;
    width: fit-content;
    padding: 0 8px;
    font-weight: 500;
    font-size: 14px;
    color: #f9804c;
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.headerWrapperWhite {
    background: #ffffff;
    &.mouseHover {
        background: #ffffff;
    }
    .navWrapper {
        background: #ffffff;
        .navListWrapper {
            .navLink {
                color: #1b1b1b !important;
            }
        }
    }

    .navDropdown {
        border-top: 1px solid #e3e3e3 !important;
        background: #ffffff !important;
        .navDropdownInner {
            .featureMenuLeftWrapper {
                .featureListMenu {
                    &:hover {
                        background: #f5f5f5 !important;
                    }
                    .featureListMenuContent {
                        h4 {
                            color: #1b1b1b !important;
                        }
                        p {
                            color: #545454 !important;
                        }
                    }
                }
            }
            .featureMenuCard {
                .featureMenuCardBody {
                    background: #f5f5f5 !important;
                    h4 {
                        color: #1b1b1b !important;
                    }
                    p {
                        color: #545454 !important;
                    }
                    .txtBtn {
                        span {
                        }
                    }
                }
            }
        }
    }

    .hamburgerBtn {
        color: #1b1b1b;
    }
    .loginLink,
    .mobLink {
        color: #1b1b1b;
        &:hover {
            border: 1px solid #1b1b1b;
        }
    }
    .logo {
        .logoImg {
            display: none;
        }
        .headerWhiteLogo {
            display: flex;
        }
    }
}
